<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="footer">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Арт-терапия?</h4>
                            <p>
                                Арт-терапия - направление психологической коррекции, в основе которого используются искусство и творчество,
                                а точнее - метафора. Метафору человек, выбравший арт-терапию, в процессе сессии создает сам из чего угодно.
                            </p>
                            <p>
                                Для того чтобы решить ту или иную психологическую проблему этим методом, нам необходимо найти и создать такой
                                образ, вывести его на осознанный уровень, проработать связанные с ним эмоции и получить "инсайт" - освобождение
                                от негативных застарелых чувств.
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Я в соц. сетях</h4>
                            <ul class="list">
                                <li><a href="https://www.vk.com">Вконтакте</a></li>
                                <li><a href="https://www.facebook.com">Facebook</a></li>
                                <li><a href="https://www.twitter.com">Twitter</a></li>
                                <li><a href="https://www.telegram.com">Telegram</a></li>
                                <li><a href="https://www.instagram.com">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Мои контакты</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span>
                                    Мой офис
                                </p>
                                <p>Питер, река Нива, 2-ая волна справа.</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    Телефон для связи
                                </p>
                                <p>
                                    8 800 555 35 35
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    Почта
                                </p>
                                <p>
                                    email@mail.ru <br>
                                    gmail@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        Авторское право &copy; <script>document.write(new Date().getFullYear());</script> Все права защищены | Сделано с <i class="fa fa-heart" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
    </footer>
</div>