<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Арт-терапия - Запись на консультацию</title>
    <link rel="icon" th:href="@{img/Fevicon.png}" type="image/png">

    <link rel="stylesheet" th:href="@{vendors/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{vendors/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{vendors/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{vendors/linericon/style.css}">
    <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{vendors/nice-select/nice-select.css}">
    <link rel="stylesheet" th:href="@{vendors/nouislider/nouislider.min.css}">

    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Запись на консультацию</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Запись</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!--================Checkout Area =================-->
<section class="checkout_area section-margin--small">
    <div class="container">
        <div class="col-md-12" style="text-align: center;">
            <div th:if="${confirm.length()>0}">
                <label class="alert-success alert" th:text="${confirm}"></label>
            </div>
            <div th:if="${errors!=null && errors.hasFieldErrors('author')}">
                <label class="alert-danger alert"
                       th:text="${errors.getFieldError('author').getDefaultMessage()}"></label>
            </div>
        </div>
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Заполните анкету для записи на консультацию</h3>
                    <form class="row" th:action="@{/request}" method="post">
                        <div class="col-md-6 form-group p_star">
                            <label for="form-request-name">Как к вам удобно будет обращаться?</label>
                            <input type="text" class="form-control" id="form-request-name" name="name"
                                   th:value="${request.getAuthor().getName()}"
                                   placeholder="Например: Иван Васильевич или Ваня" required=""/>
                            <div class="alert-danger alert" th:if="${errors!=null && errors.hasFieldErrors('name')}">
                                <label th:text="${errors.getFieldError('name').getDefaultMessage()}"></label>
                            </div>
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <label for="form-request-age">Сколько вам лет?</label>
                            <input type="number" class="form-control" min="18" max="120" value="18"
                                   id="form-request-age" name="age"
                                   required=""/>
                            <div class="alert-danger alert" th:if="${errors!=null && errors.hasFieldErrors('age')}">
                                <label th:text="${errors.getFieldError('age').getDefaultMessage()}"></label>
                            </div>
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <label for="form-request-phone">Можете ввести номер для связи</label>
                            <input type="tel" class="form-control" id="form-request-phone" name="phone"
                                   placeholder="Телефонный номер"/>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="form-request-gender" style="width: 100%" >Выберите ваш пол</label>
                            <select class="country_select" style="width: 100%" id="form-request-gender" name="gender">
                                <option value="Male">Мужской</option>
                                <option value="Female">Женский</option>
                                <option value="Alien">Другое</option>
                            </select>
                        </div>
                        <h3>Выберите удобное для вас время консультации</h3>
                        <p> Ниже представлен календарь с обозначенными жёлтым цветом промежутками времени,
                            свобдными для консультаций.<br>
                            Пожалуйста, выберите более удобный для вас промежуток времени в полях под календарём.<br>
                            Если вас не устраивает время проведения консулитации, выберите "Другое" в поле выбора
                            промежутка времени для консультации.
                            В этом случае, я свяжусь с вами для выбора более удобного времени консультации.</p>
                        <div class="row">
                            <div class="col-md-7 form-group p_star">
                                <iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=2&amp;bgcolor=%23007bff&amp;ctz=Europe%2FMoscow&amp;src=MGdtcml1Y3NpNGQyOWR2MDM1dHJxZm1zb2tAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23795548&amp;title=Calendar&amp;showTitle=0&amp;showNav=1&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1&amp;mode=WEEK"
                                        style="border-width:0" width="100%" height="300px" frameborder="0"
                                        scrolling="no"></iframe>
                            </div>
                            <div class="col-md-5 form-group p_star">
                                <div style="margin-top: 15px">
                                    <label for="form-request-date">Выберите дату консультации</label>
                                    <input class="form-control" id="form-request-date" type="date" width="100%"
                                           th:min="${dateMin}"
                                           th:max="${dateMax}"
                                           th:value="${dateMin}" name="date" required=""/>
                                    <div class="alert-danger alert"
                                         th:if="${errors!=null && errors.hasFieldErrors('date')}">
                                        <label th:text="${errors.getFieldError('date').getDefaultMessage()}"></label>
                                    </div>
                                </div>
                                <div style="margin-top: 15px">
                                    <label for="form-request-time">Выберите промежуток времени</label>
                                    <select class="country_select" style="width: 100%"  id="form-request-time" name="timeInterval">
                                        <option value="first_interval">С 8:00 по 13:00</option>
                                        <option value="second_interval">С 13:00 по 18:00</option>
                                        <option value="three_interval">С 18:00 по 22:00</option>
                                        <option value="alter_interval">Другое</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <h3>Описание вашей проблемной ситуации</h3>
                            </div>
                            <textarea class="form-control" id="form-request-problem" name="problem" rows="6"
                                      placeholder="Описание ситуации..." required=""></textarea>
                            <div class="alert-danger alert" th:if="${errors!=null && errors.hasFieldErrors('problem')}">
                                <label th:text="${errors.getFieldError('problem').getDefaultMessage()}"></label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group" style="margin-top: 40px">
                            <button type="submit" class="button button-login w-100">
                                Отправить заявку на запись
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Как это работает?</h2>
                        <p>
                            Для того чтобы я смогла попытаться Вам помочь, нужно заполнить анкету слева.
                            По анкете я определю, смогу ли я чем-то вам помочь. В случае положительного вывода
                            я свяжусь с Вами, по указанной в анкете электронной почте.
                        </p>
                        <p>
                            Следующим этапом будет оплата вами небольшой суммы предоплаты по ссылке из письма.
                        </p>
                        <p class="info">
                            * Для чего нужна предоплата?<br>
                            Предоплата будет являться докозательством того,
                            что вы настоящий человек с проблемой и действительно заинтересованы в решении своей
                            проблемы.
                            Действуя иначе, без предоплаты, я подвергаю себя опасности лишить драгоценного времени,
                            которое я могла потратить на помощь действительно нуждающимся.<br>
                            Если вы не доверяете мне, что совершенно нормально, введите в заявке телефон для
                            связи и я позвоню Вам лично.
                        </p>
                        <p>
                            После совершения предоплаты останется только дождаться времени консультации и явиться
                            по указанному в письме адресу.<br>
                            Прошу не опаздывать :)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->
<footer th:insert="fragments/footer :: footer"></footer>


<script th:src="@{vendors/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{vendors/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{vendors/skrollr.min.js}"></script>
<script th:src="@{vendors/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{vendors/nice-select/jquery.nice-select.min.js}"></script>
<script th:src="@{vendors/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{vendors/mail-script.js}"></script>
<script th:src="@{js/main.js}"></script>
</body>
</html>